127.0.0.1               localhost.localdomain localhost
::1         		localhost6.localdomain6 localhost6

# network
{{ NETWORK_IP }}       {{ NETWORK }}

# controller
{{ CONTROLLER_IP }}       {{ CONTROLLER }}

# compute1
{{ COMPUTE_IP }}       {{ COMPUTE }}
