[DEFAULT]
rpc_backend = rabbit
auth_strategy = keystone
core_plugin = ml2
service_plugins = router
allow_overlapping_ips = True

[oslo_messaging_rabbit]
rabbit_host = {{CONTROLLER}}
rabbit_userid = openstack
rabbit_password = {{RABBIT_PASS}}

[keystone_authtoken]
auth_uri = http://{{CONTROLLER}}:5000
auth_url = http://{{CONTROLLER}}:35357
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = {{SERVICE_PROJECT}}
username = {{NEUTRON_USER}}
password = {{NEUTRON_PASS}}
 
